.boton-pagar {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #4CAF50; /* Un color verde estándar para acciones de 'Pagar' */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-pagar:hover {
    background-color: #45a049; /* Un tono ligeramente más oscuro al hacer hover */
}

/**Aqui esta como se mostrara en el carrito **/
.producto-precio {
    font-size: 22px; 
    font-weight: bold; 
    text-align: left; 
}

.eliminar-producto {
    display: block;
    margin: 10px auto; 
    border: none;
    background-color: red;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s; 
}

.eliminar-producto:hover {
    background-color: darkred; 
}
.producto-cantidad {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 10px; 
}

.producto-cantidad button {
    background-color: #146bdd;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    font-size: 16px; 
}

.producto-cantidad button:hover {
    background-color: #2897ff; 
}

.producto-cantidad span {
    margin: 0 10px; 
    font-size: 18px; 
    font-weight: bold; 
}
.precio-container {
    display: flex;
    align-items: baseline; /* Alinea el símbolo del dólar y el número adecuadamente */
}

.precio-simbolo {
    font-size: 1.8em; /* Ajusta el tamaño para que coincida visualmente con el número */
    margin-right: 0.2em; /* Espacio entre el símbolo del dólar y el número */
}

.precio-item {
    font-size: 1.2em; /* Tamaño del texto del precio */
    font-weight: bold; /* Hacer el precio más destacado */
}
/**Carrito**/
.carrito-contenedor {
    max-width: 410px;
    margin: 0%;
    border: 3px solid #090f6d;
    border-radius: 10px;
    padding: 10px;
    transition: .3s;
    font-family: Arial, sans-serif; 
    
}

.producto-en-carrito {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}


.producto-titulo {
    font-size: 30px;
    font-weight: bold; 
    margin: 0;
    text-align: center; 
}
.producto-imagen img {
    width: 300px;
    height: auto;
    border-radius: 5px; 
    margin-right: 20px;
}

.producto-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}